<div class="container-fluid px-4">
  <h1 class="mt-4">Sales Report</h1>
  <%- include("../partials/errorMessage") %>

  <table id="example" class="display nowrap" style="width: 100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Purchase Amount</th>
        <th>Payment</th>
      </tr>
    </thead>
    <tbody>
      <% allOrders.forEach(result => { %>
      <tr>
        <td>
          <%= result.deliveryAddress.firstName %> <%=
          result.deliveryAddress.lastName %>
        </td>
        <td><%= result.deliveryAddress.city%></td>
        <td><%= Math.ceil(result.total) %></td>
        <% if(result.paymentType == "cod" ){%>
        <td>
          <span class="badge" style="background-color: rgb(177, 39, 85)"
            >COD</span
          >
        </td>
        <%}else{%>
        <td><span class="badge bg-success">Online</span></td>
        <% } %>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
